In [78]:
import pandas as pd
import numpy as np
import sklearn

In [79]:
melbourne_data = pd.read_csv("melb_data.csv")
melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [80]:
melbourne_data.describe() # summary

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [81]:
melbourne_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [82]:
# select data to model with - print columns first
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [83]:
# Instead of removing Homes with Null values in certain columns, gather all data
features = melbourne_data.drop(['Price'], axis=1) # all features except price (our predictor)

In [84]:
x = features.select_dtypes(exclude=['object']) # subsetting the dataset to select these feature columns only
y = melbourne_data.Price # our target - what we try to predict

In [85]:
x.head() # features that will be used in our model to predict

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.7996,144.9984,4019.0
1,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934,4019.0
2,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944,4019.0
3,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.7969,144.9969,4019.0
4,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,144.9941,4019.0

In [86]:
y.head() # house prices

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [87]:
x.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [88]:
y.describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [89]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=18)

In [90]:
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
def finetune_return_mae(x_train, x_test, y_train, y_test):
    finetuned_model = RandomForestRegressor(random_state=18)
    finetuned_model.fit(x_train, y_train)
    y_predicted_values = finetuned_model.predict(x_test)
    mae = mean_absolute_error(y_test, y_predicted_values)
    return mae

Approach 1: Dropping Columns with Null values - Different from Initial as that removed rows (houses) with missing values

In [91]:
# get columns with missing values
columns_with_missing_values = []
for column in x_train.columns:
    if x_train[column].isnull().any():
        columns_with_missing_values.append(column)
# given the columns with null values, lets drop them
cleaned_x_train = x_train.drop(columns_with_missing_values, axis=1)
cleaned_x_test = x_test.drop(columns_with_missing_values, axis=1)
print("Mean Absolute Error Score for Approach 1: Dropping Columns with missing entries")
finetune_return_mae(cleaned_x_train, cleaned_x_test, y_train, y_test)

Mean Absolute Error Score for Approach 1: Dropping Columns with missing entries

180711.54493951186

 Approach 2: Imputation - Replacing Missing Values with Mean along column

In [92]:
from sklearn.impute import SimpleImputer
column_imputer = SimpleImputer()
imputed_x_train = pd.DataFrame(column_imputer.fit_transform(x_train))
imputed_x_test = pd.DataFrame(column_imputer.transform(x_test))
# now put these column names back into these imputed data as imputation leaves column names removed
imputed_x_train.columns = x_train.columns
imputed_x_test.columns = x_test.columns
print("Approach 2: Simple Imputation Method")
finetune_return_mae(imputed_x_train, imputed_x_test, y_train, y_test)

Approach 2: Simple Imputation Method

171753.11151982957

That is clearly better than Approach 1, as the MAE is lower

Approach 3: Extension to Imputation - Keeping track of missing values

In [93]:
x_train_which_imputed = x_train.copy()
x_test_which_imputed = x_test.copy()
# creating new columns indicating what is imputed
for column in columns_with_missing_values:
    x_train_which_imputed[column +  '_was_missing'] = x_train_which_imputed[column].isnull()
    x_test_which_imputed[column + '_was_missing'] = x_test_which_imputed[column].isnull()
    
column_imputer = SimpleImputer()
# imputes the data which has labels
extended_imputation_x_train = pd.DataFrame(column_imputer.fit_transform(x_train_which_imputed))
extended_imputation_x_test = pd.DataFrame(column_imputer.transform(x_test_which_imputed))
# column names are given back
extended_imputation_x_train.columns = x_train_which_imputed.columns
extended_imputation_x_test.columns = x_test_which_imputed.columns
# score
print("Approach 3: Extension to Imputation")
finetune_return_mae(extended_imputation_x_train, extended_imputation_x_test, y_train, y_test)

Approach 3: Extension to Imputation

171805.29317290836

This shows that approach 2 is better than approach 3, which is not surprising. Approach 2 performed better than 1 as less than half of the entries in the columns with missing values were missing, dropping the rows directly would lead to a loss of useful data. However, on a whole Approach 2 and 3 is better than 1; Dropping the columns with missing values directly.

In [100]:
print(x_train.shape)
missing_entries_count = (x_train.isnull().sum()) # count of missing values per column
missing_entries_count[missing_entries_count > 0] # prints columns from that list, with missing values > 0

(10864, 12)

Car               51
BuildingArea    5197
YearBuilt       4331
dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=18) # random state is like seeding, to permit reproducibility
melbourne_model.fit(x_train,y_train) # fitting model with data

In [ ]:
# Here, we predict house price using the train and test data on the model
y_train_pred = melbourne_model.predict(x_train)
y_test_pred = melbourne_model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
# here we can assess the r2 score of the model to check reliability and accuracy of the model, against exposed and unexposed data
r2_score_train = r2_score(y_train, y_train_pred)
r2_score_test = r2_score(y_test, y_test_pred)

In [ ]:
r2_score_train

In [ ]:
r2_score_test

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error_prediction_vs_actual = mean_absolute_error(y_test,y_test_pred)
mean_absolute_error_prediction_vs_actual

In [ ]:
# Testing Model
print("We can predict Houses with the following characteristics:\n\n", x_test.head())

In [ ]:
y_test_pred

In [ ]:
y_test